@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --topPostion: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #050b07;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    padding: 10px 20px;
    transition: all 200ms linear;
}
.fixed-header{
    background-color: #050b07d0;
    backdrop-filter: blur(10px);
}
.container{
    max-width: 1600px;
    margin: 0 auto;
    width: 90%;
    display: block;
    position: relative;
}

.hero-section{
    position: relative;
    padding: 0px 0;
    height: auto;
    display: block;
    width: 100%;
    background-image: url(../images/hero-banner-background.jpg);
    background-size: cover;
    background-position: center;
}

.hero-banner{
    position: relative;
    width: 100%;
    height: 100%;
}
.hero-img{
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
}
.debris-1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: translateY(0);
}
.debris-2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transform: translateY(0);
    
}
.hero-text{
    color: #fff;
    position: absolute;
    bottom: 0%;
    padding: 50px 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 7;
    background-image: linear-gradient( 0deg, rgb(5,11,6,0.8) 70%, rgba(0,0,0,0) 100%);
}

  
.hero-text h1{
    font-size: 3.4vw;
    text-shadow: 1px 1px 4px rgba(255, 0, 0, 0.822), 0px 0px 5px rgba(255, 0, 0, 0.822);
    animation: glowTextRed 1s linear infinite
}

@keyframes glowTextRed {
    0% {
        text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px rgba(255, 0, 0, 0.822);
    }
    20%, 60% {
        text-shadow: 0px 0px 20px #ff0000, 0px 0px 20px rgba(255, 0, 0, 0.822);
    }
    100% {
        text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px rgba(255, 0, 0, 0.822);
    }
}
@keyframes beat{
	to { transform: scale(1.08); }
}
@keyframes levitate {
	0% {
		transform: translateY(calc(var(--topPostion)));
	}
	50% {
		transform: translateY(calc(var(--topPostion) + 15px));
	}
	100% {
		transform: translateY(calc(var(--topPostion)));
	}
}

@keyframes hithere{
    30% { transform: scale(1.02); }
  40%, 60% { transform: rotate(-10deg) scale(1.02); }
  50% { transform: rotate(10deg) scale(1.02); }
  70% { transform: rotate(0deg) scale(1.02); }
  100% { transform: scale(1); }
  }

.btn-register{
    border-radius: 10px;
    border: 3px solid rgb(219, 168, 0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,113,95,1) 88%, rgba(255,0,0,1) 89%, rgba(181,0,0,1) 100%);    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
    letter-spacing: 1px;
    transition: all 200ms linear;
    margin-bottom: 30px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.btn-register:hover{
    background-color: #fff;
    color: #fff;
    transform: scale(1.04);
    box-shadow: -1px 8px 60px 7px rgb(255 188 0 / 57%);
}



@media screen and (max-width: 500px) {
    .hero-section{
        background-position: center bottom;
        height: auto;
    }
    .hero-text{
        bottom: -92%;
    }
    .rewards{
        gap: 5px
    }
}
.prizes-sec{
    margin: 0px 0 90px;
    position: relative;
    background-image: url(../images/prizes-bt.jpg);
    background-position: center top;
    background-size: cover;
    
}
#countdown{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    /* border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 255, 96);
    background-image: -moz-linear-gradient( -90deg, rgba(51,124,88, 0.7) 0%, rgba(3, 109, 32, 0.7) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgba(51,124,88, 0.7) 0%, rgba(3, 109, 32, 0.7) 100%);
    background-image: -ms-linear-gradient( -90deg, rgba(51,124,88, 0.7) 0%, rgba(3, 109, 32, 0.7) 100%); */
    padding: 10px 40px;
}
#countdown ul{
    display: flex;
    justify-content: center;
    gap: 10px 50px;
 
}
#countdown ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#countdown ul li > span{
    font-size: 4.5vw;
}

.intro-text{
    text-align: center;
    color: #fff;
}
.intro-text h2{
    font-size: 46px;
    margin-top: 20px;
    color: #ffc400;
   /* // animation: glowTextRed 1s linear infinite; */
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px rgba(255, 0, 0, 0.822);
}
.intro-text h3{
    font-size: 32px;
}
.intro-text p{
    font-size: 26px;
}


.rewards{
    padding: 0px 0 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.rewards img:first-child, .rewards img:last-child{
    margin-top: 5%;
}
.rewards img:nth-child(2), .rewards img:nth-child(4){
    margin-top: 2%;
}
.rewards img:nth-child(3){
    margin-top: -4%;
}
.rewards img{
    transition: all 200ms linear;
    cursor: pointer;
    max-width: max-content;
    height: auto;
    width: 100%;
}

.rewards img:hover{
    transform: scale(1.03);
}

@media screen and (max-width: 1024px) {
    .rewards img:not(:nth-child(3)){
        height: auto;
        width: 16vw;
    
    }
    .rewards img:nth-child(3){
        height: auto;
        width: 20vw;
    }
    .hero-text h1{
        font-size: 5.4vw;
    }
    .logo img{
      width: 29vw;
    }
}
@media screen and (max-width: 1024px){
    .hero-text{
        bottom: -16%;
        background-image: none;
    }
    .hero-section{
        background-position: center bottom;
        height: auto;
    }
}


@media screen and (max-width: 980px) {
    .intro-text img{
        display: none;
    }
    .hero-text{
        bottom: -30%;
    }
    .hero-section{
        background-position: center bottom;
        height: auto;
    }
    .btn-register{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 768px) {
    .hero-section{
        background-position: center bottom;
        height: auto;
    }
    .hero-text{
        bottom: -30%;
        display: flex;
        flex-direction: column;
    }
    .rewards{
        order: 1;
    }
    #countdown{
        order: 4;
    }
    .hero-text h1{
        order: 2;
        font-size: 6.5vw;
    }
    .btn-register{
        order: 3;
        margin-bottom: 10px;
    }
    #countdown ul{
        gap: 10px 30px;
    }
    #countdown ul li{
        list-style: none;
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    #countdown ul li > span{
        font-size: 7.5vw;
    }
}

.reg-sec{
    position: relative;
    margin: 10px 0 30px;
    display: block;
    height: auto;
    z-index: 99;
    background-image: url(../images/sports-field.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-box > div{
    flex: 0 50%;
}
.flex-content{
    flex: 1;
}
.flex-image{
    position: relative;
    overflow: hidden;
}
.flex-image img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.cricket-ball{
    position: absolute;
    right: 18%;
    top: 40%;
    display: block;
    width:15vw;
    max-width: 120px !important;
}
.cash-flying1{
    position: absolute;
    max-width: 110px !important;
    width: 20vw;
    height: auto;
    left:34%;
    bottom: 10%;
  
}
.cash-flying2{
    position: absolute;
    width: 20vw;
    height: auto;
    top: 15%;
    right: 0%;
    max-width: 190px !important;

}
.steps-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.stepTitle{
    color: #fff;
    max-width: 600px;
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.steps-box{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 255, 96);
    background-image: -moz-linear-gradient( -90deg, rgba(51,124,88, 0.7) 0%, rgba(84,199,114,0.7) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgba(51,124,88, 0.7) 0%, rgba(84,199,114,0.7) 100%);
    background-image: -ms-linear-gradient( -90deg, rgba(51,124,88, 0.7) 0%, rgba(84,199,114,0.7) 100%);
    padding: 15px 30px 15px 60px;
    color:#fff;
    transform: skew(-15deg);
    position: relative;
    max-width: 340px;
    width: 90%;
    backdrop-filter: blur(10px);
}

.steps-box > div{
    transform: skew(15deg);
}
.step-no{
    transform: skew(-5deg) !important;
    background-color: #ff0000;
    position: absolute;
    left: -40px;
    padding:0 12px;
    top:  10px ;
    width: 80px;
}
.step-no h3{
    transform: skew(20deg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    position: relative;
    line-height: normal;
    padding-top: 10px;
}
.step-no h3 > span{
    font-size: 18px;
    line-height: normal;
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
}
.step-copy{
    font-weight: 600;
}
.form-reg{
    color: #fff;
    max-width: 400px;
    margin: 40px auto 0;
}

.form-input{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}
.form-input input{
     padding: 12px 10px;
     border-width: 1px;
     border-color: rgb(6, 255, 0);
     border-style: solid;
     background-color: rgb(41, 99, 61);
     color: #fff;
     outline: none;
     font-size: 18px;
     width: 100%;
     border-radius: 4px;
}
.form-input input::placeholder{
    color: #fff;
}

.form-input input[type="submit"]{
    border: 3px solid rgb(219, 168, 0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,113,95,1) 88%, rgba(255,0,0,1) 89%, rgba(181,0,0,1) 100%);    padding: 15px 30px;
    transition: all 200ms ease;
    cursor: pointer;
    border-radius: 5px;
}
.form-input input[type="submit"]:hover{
    background-color: #fff;
    color: #fff;
    transform: scale(1.04);
    box-shadow: -1px 8px 60px 7px rgb(255 188 0 / 57%);
}
.title-head{
    position: relative;
    max-width: max-content;
}
.title-head::after{
    position: absolute;
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    background-color: rgb(219, 0, 0);
    right: -60px;
    top: 50%;
}
.termsInfo{
    display: block;
    margin-top: -25px;
    margin-bottom: 15px;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.termsInfo:hover{
    color: yellow;
}
.termsInfo::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/information-button.png);
    background-size: contain;
    display: inline-block;
}
.social-sec{
    padding: 20px 0 0;
}
.social-sec h2{
    color: #fff;
    text-align: center;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.social-media a{
    cursor: pointer;
    transition: all 200ms linear;
}
.social-media img{
    max-width: 60px;
}

.social-media a:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
    .stepTitle{
        margin-bottom: 250px;
    }
     .prizes-sec{
       
        padding-top: 80px;
        padding-bottom: 0px;
        margin-top: 0;
        margin-bottom: 30px;
   }
   .flex-box {
    position: relative;
   }
   .flex-box > div{
     flex: 0 100%;
     z-index: 5;
     width: 100%;
   }
   .flex-image{
    position: absolute;
    z-index: -1;
    right: 0;
    top: -180px;
    MAX-width: 48%;
   }
   .steps-container {
        max-width: 500px;
        margin: 0 auto;
        padding-left: 160px;
    }
    .flex-content{
        flex: 0 100%;
        z-index: 5;
        max-width: 600px;
        margin: 0 auto;
      
    }
    .form-reg{
        padding: 30px;
        background-color: #1a3b25d4;
        border: 1px solid  rgb(6, 255, 0);
    }
}
@media only screen and (max-width: 980px){
    .cricket-ball{
        width: 11vw;
    }
    .cash-flying1{
        width: 13vw;
    }
    .cash-flying2{
        width: 15vw;
    }
}
@media screen and (max-width: 768px) {
    .reg-sec {
      
        background-image: url(../images/sports-field-tablet.jpg);
        background-position: center center;
        background-size: 300%;
    }
    .prizes-sec {
        padding-top: 20px;
        margin-top: 5%;
    }
    .intro-text h3{
        font-size: 4vw;
    }
    .intro-text h2{
        font-size: 6vw;
    }
    .rewards {
        flex-wrap: wrap;
    }
   
    
    .rewards img:first-child, .rewards img:last-child{
         margin-top: 0;
         order: 4;
        width: 26vw;
    }
    .rewards img:nth-child(2), .rewards img:nth-child(4){
        margin-top: 6%;
        width: 26vw;
    }
    .rewards img:nth-child(3){
        margin-top: -6%;
        width: 28vw;
    }
    .stepTitle{
        margin-bottom: 229px;
    }
}
@media screen and (max-width: 668px) {
   
    .flex-image{
        top: -220px;
        MAX-width: 62%;
    }
    .steps-container{
        padding-left: 60px;
    }
    .steps-box{
        margin-left: unset !important;
    }
    .stepTitle{
        font-size: 28px;
        padding: 0 30px;
        margin-bottom: 250px;
    }
    .intro-text h2 {
        font-size: 9vw;
    }
}
@media screen and (max-width: 468px) {
   
    .flex-image{
        top: -160px;
        MAX-width: 62%;
    }
    .steps-container{
        padding-left: 60px;
    }
    .steps-box{
        margin-left: unset !important;
    }
    .prizes-sec {
        padding-top: 55px;
        margin-top: 5%;
    }
    .intro-text h3{
        font-size: 5vw;
    }
    .intro-text h2{
        font-size: 11vw;
    }
    .rewards {
        flex-wrap: wrap;
    }
    .hero-text{
        bottom: -45%;
    }
    .stepTitle{
        font-size: 6vw;
        margin-bottom: 213px;
    }
}

.video-sec{
    padding: 50px 0;
    background-image: url(../images/sports-field.jpg);
    background-size: cover;
    background-position: center top;
}
.video-title{
    position: relative;
    max-width: max-content;
    color: #fff;
    margin: 0 auto;

}
.video-title::before{
    position: absolute;
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    background-color: rgb(219, 0, 0);
    left: -60px;
    top: 50%;
}
.video-title::after{
    position: absolute;
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    background-color: rgb(219, 0, 0);
    right: -60px;
    top: 50%;
}
.video-container{
    max-width: 720px;
    width: 90%;
    margin: 50px auto 20px;
    display: block;
}
.video-container{
   
}

@media screen and (max-width: 480px) {
    .steps-box{
        margin-left: unset !important;
        padding: 15px 17px 15px 60px;
    }
    h2{
        font-size: 24px;
    }
    .step-copy{
        font-size: 16px;
    }
    .steps-container{
        gap: 20px;
    }

.video-container video {
    height: auto;
}
}
@media screen and (max-width:320px) {
    .video-title::before{
        width: 20px;
        left: -30px;
    }
   .video-title::after{
        width: 20px;
        right: -30px;
        
    }
}

footer p{
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.popup-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.popup-box{
    background-color: #fff;
    border: 1px solid  rgb(1, 80, 0);
    padding: 20px;
    min-height: 240px;
    border-radius: 15px;
    position: relative;
    padding-top: 40px;

    box-shadow: 0px 11px 15px 6px rgba(0,0,0,0.6);
}
.popup-box h2{
    margin-bottom: 20px ;
}
.popup-box p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.popup-box .popup-close{
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #fff;
    background-color: #000;
    width: 30px;
    color: #fff;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.popup-box .popup-close:hover{
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}
#termsPopup > .popup-box{
    max-width: 600px;
    width: 90%;
    display: block;

}
#succesfullMsg > .popup-box{
    max-width: 600px;
    width: 90%;
    display: block;

}
.check-icon{
    max-width: 100px;
    display: block;
    margin: 0 auto 20px;
}
.error{
    font-size: 14px;
    color: #ff0000;
    padding: 5px;
}
.form-input input.err{
    border-color:  #ff0000 !important;
    background-color: #ff000074;
}
.form-input input.err:focus{
    border-color: rgb(6, 255, 0) !important;
    background-color: rgb(41, 99, 61);
}

.rewards-Title{
    font-size: 56px;
    color: #ffc400;
    animation: glowbeat 1s linear infinite;
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px rgba(255, 0, 0, 0.822);
    text-align: center;
    margin-top: -40px;
}
.rewards-Title img{
    max-width: 550px;
    width: 100%;
    height: auto;
}



@keyframes glowbeat {
    0% {
        transform: scale(1);
       
    }
    20%, 60% {
        transform: scale(1.08);
       
    }
    100% {
        transform: scale(1);
      
    }
}